GridBackground{
	--grid-background-color: var(--ng-colors-grid-light-grey-1);
	--line-color: var(--ng-colors-grid-light-grey-2);
	--thick-line-color: var(--ng-colors-grid-light-grey-3);
	--spacing: var(--ng-metrics-grid-25);
}